* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  width: 1000px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  /* align-items: center; */
  /* align-items: self-end; */
  align-items: stretch;
}

.item {
  background-color: #81d32a;
  border: 1px solid #ccc;
  /* padding: 20px; */
  /* text-align: center; */
  /* align-self: stretch; */
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 20px;
}

.item.special {
  align-self: stretch;
  justify-self: center;
}