* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  /* width: 900px; */
  background-color: aliceblue;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  /* gap: 10px; */
  gap: 1.5rem;
}

.item {
  background-color: #efbaba;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}